<h1>Welcome to the Comedy Vault - Start creating comedy gold</h1>
<% if current_comedian %>
<div> <%= current_comedian.name%></div>
<%= image_tag(current_comedian.image)%>
<%end%>
<% unless current_comedian %>
  <%= link_to "Sign in with Facebook", comedian_facebook_omniauth_authorize_path %>
<%else%>
  <%=link_to "Logout", destroy_comedian_session_path, method: :delete %>
<%end%>
